@use 'abstracts' as *;
@use 'base/reset';
@use 'layout/header';
@use 'layout/footer';
@use 'components/suscripcion';
@use 'components/beneficios';
@use 'components/testimonios';

:root {
  --rojo: #{$color-rojo};
  --rojo-hover: #{$color-rojo-hover};
  --blanco: #{$color-blanco};
  --negro: #{$color-negro};
  --gris-texto: #{$color-gris-texto};
  --gris-linea: #{$color-gris-linea};
  --crema: #{$color-crema};
  --exito: #{$color-exito};

  --fuente-editorial: #{$fuente-editorial};
  --fuente-ui: #{$fuente-ui};
}
