// Paleta oficial
$color-rojo: #ED1E1E;
$color-rojo-hover: #B31414;
$color-blanco: #FFFFFF;
$color-negro: #141414; // neutro funcional: texto de lectura
$color-gris-texto: #4A4A48; // neutro funcional: texto secundario
$color-gris-linea: #E4E1D8; // neutro funcional: divisores
$color-crema: #FAF9F6; // neutro funcional: fondo de página

// Tipografía oficial
$fuente-editorial: 'Playfair Display', serif;
$fuente-ui: 'Barlow', sans-serif;

// Breakpoints
$bp-tablet: 860px;
$bp-mobile: 600px;
